﻿<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand border-bottom">
            <a asp-area="" asp-controller="Admin" asp-action="Users">
                Admin Panel
            </a>
        </li>
        <li class="border-bottom">
            <a asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
        </li>
        <li class="border-bottom">
            <a asp-area="" asp-controller="Admin" asp-action="Travels">Travels</a>
        </li>
    </ul>
</div>