﻿@{
    ViewData["Title"] = "Admin-Travels";
}

@model CarPooling.Web.Models.PaginatedList<CarPooling.Services.DTOs.PresentDTOs.TravelPresentDTO>

<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <partial name="_AdminSidebar.cshtml" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <h1 class="text-primary pb-3 text-center">
            Travels
        </h1>
        <div class="main">
            @if (!Model.Any())
            {
                <h4 class="text-center">No travels meet your criteria.</h4>
                <br />
                <div class="row">
                    <div class="col text-center">
                        <a asp-controller="Admin" asp-action="Travels"
                           class="btn btn-secondary">Clear filters</a>
                    </div>
                </div>
            }
            else
            {
                <form asp-action="Travels">
                    <div class="row" style="margin:auto; padding:5px">
                        <div class="col text-end">
                            <input style="width: 55%; color:black" value="Filter by:" disabled />
                        </div>
                        <div class="col text-center">
                            <input style="width: 40%" type="text" name="startingCity" value="@ViewBag.StartingCity" placeholder="Start" />
                        </div>
                        <div class="col text-center">
                            <input style="width: 40%" type="text" name="endingCity" value="@ViewBag.EndingCity" placeholder="End" />
                        </div>
                        <div class="col text-center">
                            <input placeholder="Date" class="textbox-n" style="width: 75%" type="text" name="departureTime" value="@ViewBag.DepartureTime" onfocus="(this.type='date')">
                        </div>
                        <div class="col text-center">
                            <input style="width: 40%" type="text" name="seats" value="@ViewBag.Seats" placeholder="Seats" />
                        </div>
                        <div class="col text-center">
                            <input style="width: 70%" type="text" name="user" value="@ViewBag.User" placeholder="Created By" />
                        </div>
                        <div class="col text-center">
                            <input style="width: 70%" type="text" name="status" value="@ViewBag.Status" placeholder="Status" />
                        </div>
                        <div class="col text-start">
                            <input style="width: 60%" type="submit" name="search" value="Search" />
                        </div>
                        <div class="col" style="width: 10%" hidden>
                            <input type="text" name="userId" value="@ViewData["UserFeedbackNavigationId"]" />
                        </div>
                    </div>
                </form>
                <table class="table table-style text-center">
                    <thead>
                        <tr>
                            <th scope="col">
                                @Html.ActionLink("Starting Point", "Travels", new
                           {
                               id = ViewBag.TravelId,
                               sortOrder = ViewBag.StartSort,
                               startingCity = ViewBag.StartingCity,
                               endingCity = ViewBag.EndingCity,
                               user = ViewBag.User,
                               departureTime = ViewBag.DepartureTime,
                               seats = ViewBag.Seats,
                               status = ViewBag.Status,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Ending Point", "Travels", new
                           {
                               id = ViewBag.TravelId,
                               sortOrder = ViewBag.EndSort,
                               startingCity = ViewBag.StartingCity,
                               endingCity = ViewBag.EndingCity,
                               user = ViewBag.User,
                               departureTime = ViewBag.DepartureTime,
                               seats = ViewBag.Seats,
                               status = ViewBag.Status,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Departure Time", "Travels", new
                           {
                               id = ViewBag.TravelId,
                               sortOrder = ViewBag.DepartureSort,
                               startingCity = ViewBag.StartingCity,
                               endingCity = ViewBag.EndingCity,
                               user = ViewBag.User,
                               departureTime = ViewBag.DepartureTime,
                               seats = ViewBag.Seats,
                               status = ViewBag.Status,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Free Seats", "Travels", new
                           {
                               id = ViewBag.TravelId,
                               sortOrder = ViewBag.SeatSort,
                               startingCity = ViewBag.StartingCity,
                               endingCity = ViewBag.EndingCity,
                               user = ViewBag.User,
                               departureTime = ViewBag.DepartureTime,
                               seats = ViewBag.Seats,
                               status = ViewBag.Status,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Created By User", "Travels", new
                           {
                               id = ViewBag.TravelId,
                               sortOrder = ViewBag.NameSort,
                               startingCity = ViewBag.StartingCity,
                               endingCity = ViewBag.EndingCity,
                               user = ViewBag.User,
                               departureTime = ViewBag.DepartureTime,
                               seats = ViewBag.Seats,
                               status = ViewBag.Status,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Status", "Travels", new
                           {
                               id = ViewBag.TravelId,
                               sortOrder = ViewBag.StatusSort,
                               startingCity = ViewBag.StartingCity,
                               endingCity = ViewBag.EndingCity,
                               user = ViewBag.User,
                               departureTime = ViewBag.DepartureTime,
                               seats = ViewBag.Seats,
                               status = ViewBag.Status,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var travel in Model)
                        {
                            <tr>
                                <td>@travel.StartingPoint</td>
                                <td>@travel.EndingPoint</td>
                                <td>@travel.DepartureTime</td>
                                <td>@travel.FreeSeats</td>
                                <td>@travel.CreatedByUser</td>
                                <td>@travel.Status</td>
                                <td width="10%">
                                    <a asp-controller="Admin" asp-action="DeleteTravel" asp-route-travelId="@travel.Id" class="btn btn-danger mx-1">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @{
                var prevDisable = !Model.PreviousPage ? "disabled" : "";
                var nextDisable = !Model.NextPage ? "disabled" : "";
            }
            @if (Model.Any())
            {
                <div class="row">
                    <div class="col text-center">
                        <a asp-action="Travels" asp-route-id="@ViewBag.TravelId" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewBag.SortOrder" 
                           asp-route-startingCity="@ViewBag.StartingCity" asp-route-endingCity="@ViewBag.EndingCity" asp-route-user="@ViewBag.User" 
                           asp-route-departureTime="@ViewBag.DepartureTime" asp-route-seats="@ViewBag.Seats" asp-route-status="@ViewBag.Status"
                           class="btn btn-primary  @prevDisable">Previous</a>
                    </div>
                    <div class="col text-center">
                        <a asp-controller="Home" asp-action="Index"
                           class="btn btn-secondary">Back To Home</a>
                    </div>
                    <div class="col text-center">
                        <a asp-action="Travels" asp-route-id="@ViewBag.TravelId" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewBag.SortOrder"
                           asp-route-startingCity="@ViewBag.StartingCity" asp-route-endingCity="@ViewBag.EndingCity" asp-route-user="@ViewBag.User" 
                           asp-route-departureTime="@ViewBag.DepartureTime" asp-route-seats="@ViewBag.Seats" asp-route-status="@ViewBag.Status"
                           class="btn btn-primary  @nextDisable">Next</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
