﻿@model CarPooling.Services.DTOs.PresentDTOs.UserPresentDTO

@{ViewData["Title"] = "Unlock User"; }

<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <partial name="_AdminSidebar.cshtml" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <form method="post" asp-action="UnblockUserPost" class="text-center">
            <input asp-for="Id" hidden />
            <div class="border p-4">
                <div class="form-group row mt-5">
                    <h1 class="text-primary pb-3 text-center">
                        Unblock User
                    </h1>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <div class="form-group row">
                            <div class="col d-flex justify-content-center">
                                <label asp-for="FirstName">First name</label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label asp-for="LastName">Last name</label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label asp-for="Email">Email</label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label asp-for="PhoneNumber">Phone Number</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col p-3">
                                <input asp-for="FirstName" disabled class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col p-3">
                                <input asp-for="LastName" disabled class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="col p-3">
                                <input asp-for="Email" disabled class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col p-3">
                                <input asp-for="PhoneNumber" disabled class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row pt-5">
                            <div class="col-6 text-center">
                                <a asp-controller="Admin" asp-action="Users" class="btn btn-secondary">Back to Home</a>
                            </div>
                            <div class="col-4 text-center">
                                <input type="submit" value="Unblock" class="btn btn-success" asp-controller="Admin" asp-action="UnblockUserPost" asp-route-id="@Model.Id">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /#page-content-wrapper -->

</div>