﻿@{
    ViewData["Title"] = "Admin-Users";
}

@model CarPooling.Web.Models.PaginatedList<CarPooling.Services.DTOs.PresentDTOs.UserPresentDTO>
<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <partial name="_AdminSidebar.cshtml" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <h1 class="text-primary pb-3 text-center">
            Manage Users
        </h1>
        @if (!Model.Any())
        {
            <h4 class="text-center">No users meet your criteria.</h4>
            <br />
            <div class="row">
                <div class="col text-center">
                    <a asp-controller="Admin" asp-action="Users"
                       class="btn btn-secondary">Clear filters</a>
                </div>
            </div>
        }
        else
        {
            <form asp-action="Users">
                <div class="row" style="margin:auto; padding:5px">
                    <div class="col text-end">
                        <input style="width: 55%; color:black" value="Search by:" disabled />
                    </div>
                    <div class="col text-center">
                        <input style="width: 40%" type="text" name="username" value="@ViewBag.Username" placeholder="Username" />
                    </div>
                    <div class="col text-center">
                        <input style="width: 40%" type="text" name="email" value="@ViewBag.Email" placeholder="Email" />
                    </div>
                    <div class="col text-center">
                        <input style="width: 60%" type="text" name="phoneNumber" value="@ViewBag.PhoneNumber" placeholder="Phone Number" />
                    </div>
                    <div class="col text-start">
                        <input style="width: 60%" type="submit" name="search" value="Search" />
                    </div>
                </div>
            </form>
            <div class="main">
                <table class="table table-style text-center">
                    <thead>
                        <tr>
                            <th scope="col">Profile</th>
                            <th scope="col">
                                @Html.ActionLink("First Name", "Users", new
                           {
                               sortOrder = ViewBag.FirstNameSort,
                               username = ViewBag.Username,
                               email = ViewBag.Email,
                               phoneNumber = ViewBag.PhoneNumber,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Last Name", "Users", new
                           {
                               sortOrder = ViewBag.LastNameSort,
                               username = ViewBag.Username,
                               email = ViewBag.Email,
                               phoneNumber = ViewBag.PhoneNumber,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Username", "Users", new
                           {
                               sortOrder = ViewBag.UsernameSort,
                               username = ViewBag.Username,
                               email = ViewBag.Email,
                               phoneNumber = ViewBag.PhoneNumber,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Email", "Users", new
                           {
                               sortOrder = ViewBag.EmailSort,
                               username = ViewBag.Username,
                               email = ViewBag.Email,
                               phoneNumber = ViewBag.PhoneNumber,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Phone Number", "Users", new
                           {
                               sortOrder = ViewBag.PhoneNumberSort,
                               username = ViewBag.Username,
                               email = ViewBag.Email,
                               phoneNumber = ViewBag.PhoneNumber,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/profile-pictures/@user.ProfilePicture"
                                         class="rounded-circle"
                                         height="40" width="40"
                                         asp-append-version="true" />
                                </td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td><a asp-controller="User" asp-action="ViewUserProfile" asp-route-userId="@user.Id">@user.Username</a></td>
                                <td>@user.Email</td>
                                <td>@user.PhoneNumber</td>
                                <td width="5%">
                                    @if (user.IsBlocked == "False")
                                    {
                                        <a asp-controller="Admin" asp-action="BlockUser" asp-route-id="@user.Id" class="btn btn-danger d-flex justify-content-center">Block</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Admin" asp-action="UnblockUser" asp-route-id="@user.Id" class="btn btn-success d-flex justify-content-center">Unblock</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{
                    var prevDisable = !Model.PreviousPage ? "disabled" : "";
                    var nextDisable = !Model.NextPage ? "disabled" : "";
                }
                @if (Model.Any())
                {
                    <div class="row">
                        <div class="col text-center">
                            <a asp-action="Users" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewBag.SortOrder"
                               asp-route-username="@ViewBag.Username" asp-route-email="@ViewBag.Email" asp-route-phoneNumber="@ViewBag.PhoneNumber"
                               class="btn btn-primary  @prevDisable">Previous</a>
                        </div>
                        <div class="col text-center">
                            <a asp-controller="Home" asp-action="Index"
                               class="btn btn-secondary">Back To Home</a>
                        </div>
                        <div class="col text-center">
                            <a asp-action="Users" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewBag.SortOrder"
                               asp-route-username="@ViewBag.Username" asp-route-email="@ViewBag.Email" asp-route-phoneNumber="@ViewBag.PhoneNumber"
                               asp-route-departureTime="@ViewBag.DepartureTime" asp-route-seats="@ViewBag.Seats"
                               class="btn btn-primary  @nextDisable">Next</a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <!-- /#page-content-wrapper -->

</div>
