﻿@{
    ViewData["Title"] = "Login";
}

@model CarPooling.Web.Models.LoginViewModel

<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Login</h1>
        </div>

        <form asp-action="Login">
            <div class="login-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="control-group">
                    <input class="login-field" placeholder="username" type="text" asp-for="Username">
                    <label class="login-field-icon fui-user" hidden asp-for="@Model.Username"></label>
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>

                <div class="control-group">
                    <input class="login-field" placeholder="password" type="password" asp-for="Password">
                    <label class="login-field-icon fui-lock" hidden asp-for="@Model.Password"></label>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <button class="btn-login btn-primary btn-large btn-block" type="submit">Login</button>
                <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a asp-action="Register" class="fw-bold text-body"><u>Register here</u></a></p>
            </div>
        </form>
    </div>
</div>