﻿@{
    ViewData["Title"] = "Register";
}
@model CarPooling.Web.Models.RegisterViewModel

<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Register</h1>
        </div>
        <form asp-action="Register">
            <div class="login-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="control-group">
                    <input class="login-field" placeholder="username" type="text" asp-for="Username">
                    <label class="login-field-icon fui-user" hidden asp-for="@Model.Username"></label>
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>

                <div class="control-group">
                    <input class="login-field" placeholder="password" type="password" asp-for="Password">
                    <label class="login-field-icon fui-lock" hidden asp-for="@Model.Password"></label>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="control-group">
                    <input class="login-field" placeholder="confirm password" type="password" asp-for="ConfirmPassword">
                    <label class="login-field-icon fui-lock" hidden asp-for="@Model.ConfirmPassword"></label>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <div class="control-group">
                    <input class="login-field" placeholder="first name" type="text" asp-for="FirstName">
                    <label class="login-field-icon fui-lock" hidden asp-for="@Model.FirstName"></label>
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>

                <div class="control-group">
                    <input class="login-field" placeholder="last name" type="text" asp-for="LastName">
                    <label class="login-field-icon fui-lock" hidden asp-for="@Model.LastName"></label>
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>

                <div class="control-group">
                    <input class="login-field" placeholder="email" type="email" asp-for="Email">
                    <label class="login-field-icon fui-lock" hidden asp-for="@Model.Email"></label>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="control-group">
                    <input class="login-field" placeholder="phone number" type="text" asp-for="PhoneNumber">
                    <label class="login-field-icon fui-lock" hidden asp-for="@Model.PhoneNumber"></label>
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                <button class="btn-login btn-primary btn-large btn-block" type="submit">Register</button>
                <p class="text-center text-muted mt-5 mb-0">Already an account? <a asp-action="Login" class="fw-bold text-body"><u>Login here</u></a></p>
            </div>
        </form>
    </div>
</div>