﻿@{
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");
}

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand border-bottom">
            <a asp-area="" asp-controller="MyTravels" asp-action="OrganizedTravels" asp-route-id="@this.ViewData["CurrentUserId"]">
                My Travels
            </a>
        </li>
        <li class="border-bottom">
            <a asp-area="" asp-controller="MyTravels" asp-action="OrganizedTravels" asp-route-id="@this.ViewData["CurrentUserId"]">Organized Travels</a>
        </li>
        <li class="border-bottom">
            <a asp-area="" asp-controller="MyTravels" asp-action="PendingTravels" asp-route-userId="@this.ViewData["CurrentUserId"]">Pending</a>
        </li>
        <li class="border-bottom">
            <a asp-area="" asp-controller="MyTravels" asp-action="ApprovedTravels" asp-route-userId="@this.ViewData["CurrentUserId"]">Approved</a>
        </li>
        <li class="border-bottom">
            <a asp-area="" asp-controller="MyTravels" asp-action="PastOrganizedTravels" asp-route-id="@this.ViewData["CurrentUserId"]">Past Organized Travels</a>
        </li>
        <li class="border-bottom">
            <a asp-area="" asp-controller="MyTravels" asp-action="PastApprovedTravels" asp-route-userId="@this.ViewData["CurrentUserId"]">Past Approved Travels</a>
        </li>
    </ul>
</div>