﻿@{
    ViewData["Title"] = "Complete Travel";
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");
}

@model CarPooling.Services.DTOs.PresentDTOs.TravelPresentDTO
<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <partial name="_Sidebar.cshtml" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <form method="post" asp-action="CancelTripPost" class="text-center form-border">
            <div class="p-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row mt-5">
                    <h1 class="text-primary pb-3 text-center">
                        Mark Travel As Complete
                    </h1>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <div class="form-group row">
                            <div class="col d-flex justify-content-center">
                                <label asp-for="StartingPoint">Starting Point</label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label asp-for="EndingPoint">Ending Point</label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label asp-for="DepartureTime">Departure Time</label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label asp-for="FreeSeats">Free Seats</label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <label asp-for="Status">Status</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col p-3">
                                <input asp-for="StartingPoint" disabled class="form-control" />
                            </div>
                            <div class="col p-3">
                                <input asp-for="EndingPoint" disabled class="form-control" />
                            </div>
                            <div class="col p-3">
                                <input asp-for="DepartureTime" disabled class="form-control" />
                                <span asp-validation-for="DepartureTime" class="text-danger"></span>
                            </div>
                            <div class="col p-3">
                                <input asp-for="FreeSeats" disabled class="form-control" />
                            </div>
                            <div class="col p-3">
                                <input asp-for="Status" disabled class="form-control" />
                            </div>
                        </div>

                        <div class="row pt-5">
                            <div class="col-6 text-center">
                                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
                            </div>
                            <div class="col-4 text-center">
                                <input type="submit" value="Complete" class="btn btn-success" asp-controller="MyTravels" asp-action="MarkAsCompletePost" asp-route-travelId="@Model.Id" asp-route-driverId="@this.ViewData["CurrentUserId"]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /#page-content-wrapper -->

</div>
