﻿@{
    ViewData["Title"] = "Organized Travels";
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");
}

@model CarPooling.Web.Models.PaginatedList<CarPooling.Services.DTOs.PresentDTOs.TravelPresentDTO>
<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <partial name="_Sidebar.cshtml" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <h1 class="text-primary pb-3 text-center">
            My Organized Travels
        </h1>
        <div class="main">
            @if (Model.Count() == 0)
            {
                <h4 class="text-center">No organized travels yet.</h4>
                <div class="col text-center">
                    <a asp-controller="Home" asp-action="Index"
                       class="btn btn-secondary">Back To Home</a>
                </div>
            }
            else
            {
                <form asp-action="OrganizedTravels">
                    <div class="row" style="margin:auto; padding:5px">
                        <div class="col text-end">
                            <input style="width: 55%; color:black" value="Filter by:" disabled />
                        </div>
                        <div class="col text-center">
                            <input style="width: 40%" type="text" name="startingCity" value="@ViewBag.StartingCity" placeholder="Start" />
                        </div>
                        <div class="col text-center">
                            <input style="width: 40%" type="text" name="endingCity" value="@ViewBag.EndingCity" placeholder="End" />
                        </div>
                        <div class="col text-center">
                            <input placeholder="Date" class="textbox-n" style="width: 75%" type="text" name="departureTime" value="@ViewBag.DepartureTime" onfocus="(this.type='date')">
                        </div>
                        <div class="col text-center">
                            <input style="width: 40%" type="text" name="seats" value="@ViewBag.Seats" placeholder="Seats" />
                        </div>
                        <div class="col text-start">
                            <input style="width: 60%" type="submit" name="search" value="Search" />
                        </div>
                        <div class="col" style="width: 10%" hidden>
                            <input type="text" name="userId" value="@ViewData["UserFeedbackNavigationId"]" />
                        </div>
                    </div>
                </form>
                <table class="table table-style text-center">
                    <thead>
                        <tr>
                            <th scope="col">
                                @Html.ActionLink("Starting Point", "OrganizedTravels", new
                           {
                               id = ViewBag.TravelId,
                               sortOrder = ViewBag.StartSort,
                               startingCity = ViewBag.StartingCity,
                               endingCity = ViewBag.EndingCity,
                               user = ViewBag.User,
                               departureTime = ViewBag.DepartureTime,
                               seats = ViewBag.Seats,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Ending Point", "OrganizedTravels", new
                           {
                               id = ViewBag.TravelId,
                               sortOrder = ViewBag.EndSort,
                               startingCity = ViewBag.StartingCity,
                               endingCity = ViewBag.EndingCity,
                               user = ViewBag.User,
                               departureTime = ViewBag.DepartureTime,
                               seats = ViewBag.Seats,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Departure Time", "OrganizedTravels", new
                           {
                               id = ViewBag.TravelId,
                               sortOrder = ViewBag.DepartureSort,
                               startingCity = ViewBag.StartingCity,
                               endingCity = ViewBag.EndingCity,
                               user = ViewBag.User,
                               departureTime = ViewBag.DepartureTime,
                               seats = ViewBag.Seats,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Free Seats", "OrganizedTravels", new
                           {
                               id = ViewBag.TravelId,
                               sortOrder = ViewBag.SeatSort,
                               startingCity = ViewBag.StartingCity,
                               endingCity = ViewBag.EndingCity,
                               user = ViewBag.User,
                               departureTime = ViewBag.DepartureTime,
                               seats = ViewBag.Seats,
                               pageNumber = Model.PageIndex
                           }, new { style = "color:black" })
                            </th>
                            <th scope="col">Passengers</th>
                            <th scope="col">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var travel in Model)
                        {
                            <tr>
                                <td>@travel.StartingPoint</td>
                                <td>@travel.EndingPoint</td>
                                <td>@travel.DepartureTime</td>
                                <td>@travel.FreeSeats</td>
                                <td width="15%">
                                    <div class="btn-group" role="group">
                                        <a asp-controller="MyTravels" asp-action="ApprovedPassengers" asp-route-Id="@travel.Id" class="btn btn-success mx-1">Approved</a>
                                        <a asp-controller="MyTravels" asp-action="PendingPassengers" asp-route-Id="@travel.Id" class="btn btn-warning mx-1">Pending</a>
                                    </div>
                                </td>
                                <td width="15%">
                                    <div class="btn-group" role="group">
                                        <a asp-controller="MyTravels" asp-action="CancelTrip" asp-route-travelId="@travel.Id" class="btn btn-danger mx-1">Cancel</a>
                                        <a asp-controller="MyTravels" asp-action="MarkAsComplete" asp-route-travelId="@travel.Id" class="btn btn-success mx-1">Complete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                if (Model.Any())
                {
                    var prevDisable = !Model.PreviousPage ? "disabled" : "";
                    var nextDisable = !Model.NextPage ? "disabled" : "";
                    <div class="row">
                        <div class="col text-center">
                            <a asp-action="OrganizedTravels" asp-route-id="@ViewBag.TravelId" asp-route-pageNumber="@(Model.PageIndex - 1)" 
                               asp-route-sortOrder="@ViewBag.SortOrder" asp-route-startingCity="@ViewBag.StartingCity" asp-route-endingCity="@ViewBag.EndingCity" 
                               asp-route-user="@ViewBag.User" asp-route-departureTime="@ViewBag.DepartureTime" asp-route-seats="@ViewBag.Seats"
                               class="btn btn-primary  @prevDisable">Previous</a>
                        </div>
                        <div class="col text-center">
                            <a asp-controller="Home" asp-action="Index"
                               class="btn btn-secondary">Back To Home</a>
                        </div>
                        <div class="col text-center">
                            <a asp-action="OrganizedTravels" asp-route-id="@ViewBag.TravelId" asp-route-pageNumber="@(Model.PageIndex + 1)" 
                               asp-route-sortOrder="@ViewBag.SortOrder" asp-route-startingCity="@ViewBag.StartingCity" asp-route-endingCity="@ViewBag.EndingCity" 
                               asp-route-user="@ViewBag.User" asp-route-departureTime="@ViewBag.DepartureTime" asp-route-seats="@ViewBag.Seats"
                               class="btn btn-primary  @nextDisable">Next</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <!-- /#page-content-wrapper -->

</div>
