﻿@{
    ViewData["Title"] = "Past Approved Travels";
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");
}

@model IEnumerable<CarPooling.Services.DTOs.PresentDTOs.TravelPresentDTO>
<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <partial name="_Sidebar.cshtml" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <h1 class="text-primary pb-3 text-center">
            My Past Approved Travels
        </h1>
        <div class="main">
            @if (Model.Count() == 0)
            {
                <h4 class="text-center">No completed approved travels yet.</h4>
            }
            else
            {
                <table class="table table-style text-center">
                    <thead>
                        <tr>
                            <th scope="col">Starting Point</th>
                            <th scope="col">Ending Point</th>
                            <th scope="col">Driver</th>
                            <th scope="col">Departure Time</th>
                            <th scope="col">Free Seats</th>
                            <th scope="col">Status</th>
                            <th scope="col">Passengers</th>
                            <th scope="col">Driver</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var travel in Model)
                        {
                            <tr>
                                <td>@travel.StartingPoint</td>
                                <td>@travel.EndingPoint</td>
                                <td><a asp-controller="User" asp-action="ViewUserProfile" asp-route-userId="@travel.CreatedByUserId">@travel.CreatedByUser</a></td>
                                <td>@travel.DepartureTime</td>
                                <td>@travel.FreeSeats</td>
                                <td>@travel.Status</td>
                                <td width="10%">
                                    <div class="btn-group" role="group">
                                        <a asp-controller="MyTravels" asp-action="PastApprovedPassengers" asp-route-Id="@travel.Id" class="btn btn-warning mx-1">Passengers</a>
                                    </div>
                                </td>
                                <td width="10%">
                                    <div class="btn-group" role="group">
                                        <a asp-controller="Feedback" asp-action="CreateFeedback" asp-route-toUserId="@travel.CreatedByUserId" asp-route-travelId="@travel.Id" class="btn btn-success mx-1">Feedback</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="d-flex justify-content-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary d-flex justify-content-center mx-1 mt-3">Back to Home</a>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
