﻿@{
    ViewData["Title"] = "Past Approved Passengers";
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");
}

@model IEnumerable<CarPooling.Services.DTOs.PresentDTOs.UserPresentDTO>
<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <partial name="_Sidebar.cshtml" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <h1 class="text-primary pb-3 text-center">
            Approved Passengers
        </h1>
        <div class="main">
            @if (Model.Count() == 0)
            {
                <h4 class="text-center">No approved passengers for this travel.</h4>
            }
            else
            {
                <table class="table table-style text-center">
                    <thead>
                        <tr>
                            <th scope="col">Profile</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone number</th>
                            <th scope="col">Feedback</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/profile-pictures/@user.ProfilePicture"
                                         class="rounded-circle"
                                         height="40" width="40"
                                         asp-append-version="true" />
                                </td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td><a asp-controller="User" asp-action="ViewUserProfile" asp-route-userId="@user.Id">@user.Username</a></td>
                                <td>@user.Email</td>
                                <td>@user.PhoneNumber</td>
                                @{
                                    var check = ViewData["CurrentUserId"].ToString().Equals(user.Id.ToString()) ? "disabled" : "";
                                }
                                @if (ViewData["CurrentUserId"].ToString().Equals(user.Id.ToString()))
                                {
                                    <td>

                                        <div class="btn-group" role="group">
                                            <a asp-controller="Feedback" asp-action="CreateFeedback" asp-route-toUserId="@user.Id" asp-route-travelId="@ViewBag.TravelId" class="btn btn-success mx-1 disabled">That's you</a>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="btn-group" role="group">
                                            <a asp-controller="Feedback" asp-action="CreateFeedback" asp-route-toUserId="@user.Id" asp-route-travelId="@ViewBag.TravelId" class="btn btn-success mx-1 @check">Leave Feedback</a>
                                        </div>
                                    </td>
                                }

                            </tr>

                        }
                    </tbody>
                </table>
            }
            <div class="d-flex justify-content-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary d-flex justify-content-center mx-1 mt-3">Back to Home</a>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
