﻿@{
    ViewData["Title"] = "My Pending Travels";
}

@model IEnumerable<CarPooling.Services.DTOs.PresentDTOs.TravelPresentDTO>
<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <partial name="_Sidebar.cshtml" />
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <h1 class="text-primary pb-3 text-center">
            My Pending Travels
        </h1>
        <div class="main">
            @if (Model.Count() == 0)
            {
                <h4 class="text-center">No pending travels yet.</h4>
            }
            else
            {
                <table class="table table-style text-center">
                    <thead>
                        <tr>
                            <th scope="col">Starting Point</th>
                            <th scope="col">Ending Point</th>
                            <th scope="col">DepartureTime</th>
                            <th scope="col">Created By User</th>
                            <th scope="col">Free Seats</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var travel in Model)
                        {
                            <tr>
                                <td>@travel.StartingPoint</td>
                                <td>@travel.EndingPoint</td>
                                <td>@travel.DepartureTime</td>
                                <td><a asp-controller="User" asp-action="ViewUserProfile" asp-route-userId="@travel.CreatedByUserId">@travel.CreatedByUser</a></td>
                                <td>@travel.FreeSeats</td>
                                <td>@travel.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="d-flex justify-content-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary d-flex justify-content-center mx-1 mt-3">Back to Home</a>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

