﻿<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-image-2 active">
                <div class="container-fluid">
                    <div class="carousel-caption mb-5 align-items-center">
                        <h1 class="display-1 mb-4 carousel-heading text-uppercase banner-title about-title">Sharing</h1>
                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-1">
                <div class="container-fluid">
                    <div class="carousel-caption mb-5 align-items-center">
                        <h1 class="display-1 mb-4 carousel-heading text-uppercase banner-title about-title">Learning</h1>
                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-3">
                <div class="container-fluid">
                    <div class="carousel-caption mb-5 align-items-center">
                        <h1 class="display-1 mb-4 carousel-heading text-uppercase banner-title about-title">Improving</h1>
                    </div>
                </div>
            </div>
        </div>

        <a href="#myCarousel" data-bs-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#myCarousel" data-bs-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>