﻿@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.Get("CurrentUser");
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");
    this.ViewData["ProfilePicture"] = this.Context.Session.GetString("ProfilePicture");
    this.ViewData["CurrentRoles"] = this.Context.Session.GetString("CurrentRoles");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarPooling</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/ratings.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/css/admin-users.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand mx-2" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/home-background.jpg" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
                </a>
                <a class="navbar-brand mx-2" asp-area="" asp-controller="Home" asp-action="Index">CarPooling</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse mx-lg-5" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item mx-3">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        @if ((bool)this.ViewData["IsAuthenticated"])
                        {
                            <li class="nav-item mx-3">
                                <a class="nav-link" asp-area="" asp-controller="Travels" asp-action="Index" asp-route-id="@this.ViewData["CurrentUserId"]">Travels</a>
                            </li>
                        }
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto">
                            @if ((bool)this.ViewData["IsAuthenticated"])
                            {
                                <li class="nav-item dropdown mx-2">
                                    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, @this.Context.Session.GetString("CurrentUser")!</a>
                                    <div class="dropdown-menu  dropdown-menu-end text-center">
                                        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index" asp-route-userId="@this.ViewData["CurrentUserId"]">Update Profile</a>
                                        <a class="dropdown-item" asp-controller="MyTravels" asp-action="OrganizedTravels" asp-route-id="@this.ViewData["CurrentUserId"]">My Travels</a>
                                        <a class="dropdown-item" asp-controller="Feedback" asp-action="Index" asp-route-userId="@this.ViewData["CurrentUserId"]">My Feedbacks</a>
                                        @if (this.ViewData["CurrentRoles"].ToString().Contains("Admin"))
                                        {
                                            <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Users">Admin Panel</a>
                                        }
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Logout</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="~/profile-pictures/@this.Context.Session.GetString("ProfilePicture")" alt="Avatar Logo" style="width:40px; height:40px" class="rounded-circle">
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light btn btn-secondary m-1 py-1 px-2" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light btn btn-secondary m-1 py-1 px-2" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid m-0 p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-muted bg-primary fixed-bottom text-center p-3 mt-3">
        <div class="container-fluid">
            &copy; @DateTime.Now.Year - CarPooling by <a href="https://www.linkedin.com/in/alexander-taskov-a410bb1a3/" class="text-reset">Aleksander Taskov</a> & <a href="https://www.linkedin.com/in/bogdan-kehayov-5047781a2/" class="text-reset">Bogdan Kehayov</a> - <a asp-area="" asp-controller="Home" asp-action="Index" class="text-reset">Home</a> - <a asp-area="" asp-controller="Home" asp-action="About" class="text-reset">About</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/numscroller/numscroller-1.0.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}