﻿@model CarPooling.Web.Models.PaginatedList<CarPooling.Services.DTOs.PresentDTOs.FeedbackPresentDTO>

<div style="margin-top:100px">

    <!-- Page Content -->
    <div class="container">
        <h1 class="text-primary pb-3 text-center">
            Feedback
        </h1>
        <div class="main">
            @if (!Model.Any())
            {
                <h4 class="text-center">No feedback.</h4>
                <br />
                <div class="row">
                    <div class="col text-center">
                        <a asp-controller="Home" asp-action="Index"
                           class="btn btn-secondary">Back To Home</a>
                    </div>
                </div>
            }
            else
            {
                <form asp-action="@ViewData["Action"]">
                    <div class="row" style="margin:auto; padding:5px">
                        <div class="col text-end">
                            <input style="width: 40%" value="Filter by:" disabled />
                        </div>
                        <div class="col text-center">
                            <input style="width: 40%" type="text" name="name" value="@ViewBag.Name" placeholder="Name" />
                        </div>
                        <div class="col text-center">
                            <input style="width: 40%" type="text" name="rating" value="@ViewBag.Rating" placeholder="Rating" />
                        </div>
                        <div class="col text-center">
                            <input style="width: 40%" type="text" name="comment" value="@ViewBag.Comment" placeholder="Comment" />
                        </div>
                        <div class="col text-start">
                            <input style="width: 40%" type="submit" name="search" value="Search" />
                        </div>
                        <div class="col" style="width: 10%" hidden>
                            <input type="text" name="userId" value="@ViewData["UserFeedbackNavigationId"]" />
                        </div>
                    </div>
                </form>

                <table class="table table-style text-center">

                    <thead>
                        <tr>
                            <th scope="col">
                                @Html.ActionLink("Full Name", "ViewUserFeedback", new
                                {
                                    userId = this.ViewData["CurrentUserId"],
                                    sortOrder = ViewBag.NameSortParm,
                                    name = ViewBag.Name,
                                    rating = ViewBag.Rating,
                                    comment = ViewBag.Comment,
                                    pageNumber = Model.PageIndex
                                }, new { style = "color:black" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("Rating", "ViewUserFeedback", new
                                {
                                    userId = this.ViewData["CurrentUserId"],
                                    sortOrder = ViewBag.RatingSortParm,
                                    name = ViewBag.Name,
                                    rating = ViewBag.Rating,
                                    comment = ViewBag.Comment,
                                    pageNumber = Model.PageIndex
                                }, new { style = "color:black" })
                            </th>
                            <th scope="col" style="width:800px">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var feedback in Model)
                        {
                            <tr>
                                <td style="vertical-align:middle"><a asp-controller="User" asp-action="ViewUserProfile" asp-route-userId="@feedback.FromUserId">@feedback.FromUser</a></td>
                                <td style="vertical-align:middle">@feedback.Rating</td>
                                <td>@feedback.Comment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @{
                var prevDisable = !Model.PreviousPage ? "disabled" : "";
                var nextDisable = !Model.NextPage ? "disabled" : "";
            }
            @if (Model.Any())
            {
                <div class="row">
                    <div class="col text-center">
                        <a asp-action="Index" asp-route-userId="@this.ViewData["CurrentUserId"]" asp-route-pageNumber="@(Model.PageIndex - 1)" 
                           asp-route-sortOrder="@ViewBag.SortOrder" asp-route-name="@ViewBag.Name" asp-route-rating="@ViewBag.Rating"
                           asp-route-comment="@ViewBag.Comment"
                           class="btn btn-primary  @prevDisable">Previous</a>
                    </div>
                    <div class="col text-center">
                        <a asp-controller="Home" asp-action="Index"
                           class="btn btn-secondary">Back To Home</a>
                    </div>
                    <div class="col text-center">
                        <a asp-action="Index" asp-route-userId="@this.ViewData["CurrentUserId"]" asp-route-pageNumber="@(Model.PageIndex + 1)" 
                           asp-route-sortOrder="@ViewBag.SortOrder" asp-route-name="@ViewBag.Name" asp-route-rating="@ViewBag.Rating"
                           asp-route-comment="@ViewBag.Comment"
                           class="btn btn-primary  @nextDisable">Next</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>