﻿@{
    ViewData["Title"] = "Create Feedback";
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");

}

@model CarPooling.Services.DTOs.CreateDTOs.FeedbackCreateDTO

<div class="container-fluid">
    <form asp-action="CreateFeedbackPost" class="text-center">
        <input asp-for="FromUserId" value="@this.ViewData["CurrentUserId"]" hidden />
        <input asp-for="ToUserId" value="@ViewBag.ToUserId" hidden />
        <div class="p-4 form-border-big">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row mt-5">
                <h1 class="text-primary pb-3 text-center">
                    Create New Feedback
                </h1>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <div class="col d-flex justify-content-center">
                            <label asp-for="Rating">Rating</label>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <label asp-for="Comment">Comment</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col p-3">
                            <input type="text" asp-for="Rating" placeholder="You can input a numeric rating between 1-5" class="form-control text-center" value=""/>
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </div>
                        <div class="col p-3">
                            <input type="text" asp-for="Comment" placeholder="Optional" class="form-control text-center" />
                        </div>
                    </div>

                    <div class="row pt-5">
                        <div class="col-6 text-center">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
                        </div>
                        <div class="col-4 text-center">
                            <input type="submit" value="Create" class="btn btn-success" asp-controller="Feedback" asp-action="CreateFeedbackPost" asp-route-travelId="@this.ViewBag.TravelId" asp-route-userId="@this.ViewData["CurrentUserId"]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
