﻿@{
    ViewData["Title"] = "About";
}

<!-- CAROUSEL -->
<partial name="../Shared/_Carousel.cshtml" />


<!-- ABOUT / WHY SECTION -->
<div class="info-header mb-5 container mt-4">
    <h1 class="text-primary pb-2 about-title text-center">
        Why CarPooling?
    </h1>
    <p class="lead pb-2 text-center">
        Carpooling is a web application that enables you to share your travel from one location to other with other passengers. Every user can either organize a shared travel or request to join someone else’s travel.
        Sharing a carpool is a great way to travel. It's affordable, comfortable and eco-friendly! If you're driving with an empty car, consider publishing a carpool ride on Carpooling to save costs and travel with some company. Our community of carpoolers is the most trustworthy in the world.
    </p>
</div>


<!-- ACCORDION -->
<div class="accordion container px-lg-5" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Travel at low prices
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                Wherever you’re going, there’s a carpool that will get you there for less.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Trustworthy and simple
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                We check reviews, profiles and IDs, so you know who you’re travelling with and our app is both simple and secure thanks to powerful technology.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Proximity makes it easier
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                There is always a ride close to you. Now you can find the closest ride among the largest carpool network ever with a simple filter.
            </div>
        </div>
    </div>
</div>
