﻿<section class="d-flex justify-content-center">
    <div class="container-fluid">
        <div class="viewport-80 error-view" id="error-view-img">
        </div>
        <div class="text-center">
            <a asp-controller="Home" asp-action="Index"
               class="btn btn-success">Back To Home</a>
        </div>
    </div>
</section>

