﻿@{
    ViewData["Title"] = "Home Page";
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");
}

@model CarPooling.Web.Models.IndexMultipleModel


<section class="py-5" id="banner">
    <div class="container-fluid">
        <div class="row align-items-center viewport-80">
            <div class="col-10 mx-auto text-center">
                <h1 class="display-2 text-uppercase text-white banner-title">CarPooling</h1>
                <h2 class="text-muted text-capitalized">Share your ride!</h2>
                @if (!(bool)this.ViewData["IsAuthenticated"])
                {
                    <a class="btn banner-link m-3" asp-area="" asp-controller="Auth" asp-action="Login">Start Now</a>
                }
                else
                {
                    <a class="btn banner-link m-3" asp-area="" asp-controller="Travels" asp-action="Index" asp-route-driverId="@this.ViewData["CurrentUserId"]">Travels</a>
                }
                <a class="btn banner-link m-3" asp-area="" asp-controller="Home" asp-action="About">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section id="numbers">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 no-padding text-center num d-flex flex-column">
                <i class="fa fa-user"></i>
                <span class='numscroller my-3 num-item' data-min='0' data-max='@Model.Users.Count()' data-delay='5' data-increment='1'>@Model.Users.Count()</span>
                <h4>Users</h4>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 no-padding text-center num d-flex flex-column">
                <i class="fa fa-car-side"></i>
                <span class='numscroller my-3 num-item' data-min='0' data-max='@Model.Travels.Count()' data-delay='4' data-increment='1'>@Model.Travels.Count()</span>
                <h3>Travels</h3>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 no-padding text-center num d-flex flex-column">
                <i class="fa fa-map-marker-alt"></i>
                <span class='numscroller my-3 num-item' data-min='0' data-max='@Model.Cities.Count()' data-delay='2' data-increment='1'>@Model.Cities.Count()</span>
                <h4>Destinations</h4>

            </div>
        </div>
    </div>

</section>

<div class="container-fluid d-flex justify-content-center mb-0">
    <h1 class="display-2 text-uppercase text-dark text-center banner-title mb-0">Our Top Drivers</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var driver in Model.DriverRatings)
        {
            <div class="col">
                <div class="card">
                    <div class="face front-face">
                        <img src="~/profile-pictures/@driver.ProfilePicture" alt="" class="profile">
                        <div class="pt-3 text-uppercase name">@driver.FullName</div>
                        <div class="designation">@driver.Username</div>
                    </div>
                    <div class="face back-face">
                        <div class="pt-3 text-uppercase name fw-bold">Rating:</div>
                        <div class="testimonial"> @driver.Rating.ToString()/5</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container-fluid d-flex justify-content-center mb-0">
    <h1 class="display-2 text-uppercase text-dark text-center banner-title mb-0">Our Top Passengers</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var passenger in Model.PassengerRatings)
        {
            <div class="col">
                <div class="card">
                    <div class="face front-face">
                        <img src="~/profile-pictures/@passenger.ProfilePicture" alt="" class="profile">
                        <div class="pt-3 text-uppercase name">@passenger.FullName</div>
                        <div class="designation">@passenger.Username</div>
                    </div>
                    <div class="face back-face">
                        <div class="pt-3 text-uppercase name fw-bold">Rating:</div>
                        <div class="testimonial">@passenger.Rating.ToString()/5</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>