﻿@{
    ViewData["Title"] = "Change Password";
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");
}


@model CarPooling.Web.Models.ChangePasswordViewModel

<form enctype="multipart/form-data" asp-action="Update" class="text-center d-flex justify-content-center" >
    <div class="p-4 form-border-big" style="width:900px;">
        <div class="form-group row mt-5">
            <h1 class="text-primary pb-3 text-center">
                Change Password
            </h1>
        </div>
        <br />
        <div class="row" >
            <div class="col">
                <div class="form-group row">
                    <div class="col p-3">
                        <label asp-for="Password">New Password</label>
                        <input class="login-field" value="" type="password" asp-for="Password" />
                        <div class="col">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="col p-3">
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <input class="login-field" value="" type="password" asp-for="ConfirmPassword" />
                        <div class="col">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    
                </div>
                <div class="row pt-5 justify-content-center">
                    <div class="col-4">
                        <a class="btn btn-secondary" style="margin:10px" asp-controller="Home" asp-action="Index">Back to Home</a>
                    </div>
                    <div class="col-4">
                        <input type="submit" value="Submit" class="btn btn-success" style="width:100px" asp-controller="User" asp-action="ChangePassword" asp-route-id="@this.ViewData["CurrentUserId"]">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
