﻿@{
    ViewData["Title"] = "My Profile";
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");
}

@model CarPooling.Services.DTOs.PresentDTOs.UserPresentDTO


    <!-- Page Content -->
    <div class="container update-user">
        <h1 class="text-primary pb-3 text-center update-user">
            My Profile
        </h1>
        <div class="main">
            <table class="table table-style text-center mb-5">
                <tbody>
                    <tr>
                        <td scope="row" style="vertical-align:middle" width="300px" height="100px">
                            <img src="~/profile-pictures/@Model.ProfilePicture"
                                 class="rounded-circle"
                                 height="100" width="100"
                                 asp-append-version="true" />
                        </td>
                        <td style="vertical-align:middle; border-width:2px; border-right:none; border-right:none">@Model.FirstName @Model.LastName</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td style="border-width: 2px">Username:</td>
                        <td style="border-width: 2px; border-right:none">@Model.Username </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td style="border-width: 2px">Email:</td>
                        <td style="border-width: 2px; border-right:none">@Model.Email </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td style="border-width: 2px">Phone Number:</td>
                        <td style="border-width: 2px; border-right:none">@Model.PhoneNumber </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="row">
                <div class="col text-center">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="align-content:end">Back to home</a>
                </div>
                <div class="col text-center">
                    <a asp-controller="User" asp-action="ChangePassword" asp-route-username="@Model.Username" asp-route-userId="@this.ViewData["CurrentUserId"]" class="btn btn-success">Change Password</a>
                </div>
                <div class="col text-center">
                    <a asp-controller="User" asp-action="Update" asp-route-username="@Model.Username" asp-route-userId="@this.ViewData["CurrentUserId"]" class="btn btn-success">Update Profile</a>
                </div>
            </div>
        </div>
    </div>