﻿@{
    ViewData["Title"] = "Update Profile";
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");
}


@model CarPooling.Web.Models.UserViewModel

<form enctype="multipart/form-data" asp-action="Update" class="text-center">
    <input asp-for="Username" hidden />
    <input asp-for="ProfilePicture" hidden />
    <div class="p-4 form-border-big">
        <div class="form-group row mt-5">
            <h1 class="text-primary pb-3 text-center">
                Update Profile
            </h1>
        </div>

        <span asp-validation-for="Email" class="text-danger"></span>

        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="col d-flex justify-content-center">
                        <label asp-for="FirstName">First name</label>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <label asp-for="LastName">Last name</label>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <label asp-for="Email">Email</label>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <label asp-for="PhoneNumber">Phone Number</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col p-3">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col p-3">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col p-3">
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="col p-3">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="ProfilePicture" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="ProfilePicture" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile" hidden>Choose file</label>
                            </div>
                            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-6 text-center">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
                    </div>
                    <div class="col-4 text-center">
                        <input type="submit" value="Submit" class="btn btn-success" asp-controller="User" asp-action="Update" asp-route-id="@this.ViewData["CurrentUserId"]">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  