﻿@{
    ViewData["Title"] = "Apply";
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");

}

@model CarPooling.Services.DTOs.PresentDTOs.TravelPresentDTO

<div class="container-fluid">
    <form method="post" asp-action="UnblockUserPost" class="text-center">
        <div class="p-4 form-border-big">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row mt-5">
                <h1 class="text-primary pb-3 text-center">
                    Apply For Travel
                </h1>
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <div class="col d-flex justify-content-center">
                            <label asp-for="StartingPoint">Starting Point</label>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <label asp-for="EndingPoint">Ending Point</label>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <label asp-for="DepartureTime">Departure Time</label>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <label asp-for="CreatedByUser">Driver</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col p-3">
                            <input asp-for="StartingPoint" disabled class="form-control" />
                        </div>
                        <div class="col p-3">
                            <input asp-for="EndingPoint" disabled class="form-control" />
                        </div>
                        <div class="col p-3">
                            <input asp-for="DepartureTime" disabled class="form-control" />
                        </div>
                        <div class="col p-3">
                            <input asp-for="CreatedByUser" disabled class="form-control" />
                        </div>
                    </div>

                    <div class="main pt-3">
                        <table class="text-center">
                            <thead>
                                <tr>
                                    <th scope="col" class="px-4 py-2 border-bottom">Preferences</th>
                            </thead>
                            <tbody>
                                @foreach (var preference in Model.TravelPreferences)
                                {
                                    <tr>
                                        <td class="px-4 py-2 border-bottom">@preference</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="row pt-5">
                        <div class="col-6 text-center">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
                        </div>
                        <div class="col-4 text-center">
                            <input type="submit" value="Apply" class="btn btn-success" asp-controller="Travels" asp-action="ApplyPost" asp-route-travelId="@Model.Id" asp-route-userId="@this.ViewData["CurrentUserId"]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
