﻿@{
    ViewData["Title"] = "Create Travel";
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");

}

@model CarPooling.Services.DTOs.CreateDTOs.TravelCreateDTO


<div class="container-fluid">
    <form method="post" asp-action="CreateNewTravelPost" class="text-center">
        <div class="p-4 form-border-big">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row mt-5">
                <h1 class="text-primary pb-3 text-center">
                    Create New Travel
                </h1>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <div class="col d-flex justify-content-center">
                            <label asp-for="StartingPointId">Starting Point</label>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <label asp-for="EndingPointId">Ending Point</label>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <label asp-for="DepartureTime">Departure Time</label>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <label asp-for="FreeSeats">Free Seats</label>
                        </div>
                    </div>
                    <fieldset>
                        <div class="form-group row">
                            <div class="col p-3">
                                <select asp-for="StartingPointId" asp-items="@ViewBag.CityDropDown" class="form-control text-center">
                                    <option selected>-Select City-</option>
                                </select>
                                <span asp-validation-for="StartingPointId" class="text-danger"></span>
                            </div>
                            <div class="col p-3">
                                <select asp-for="EndingPointId" asp-items="@ViewBag.CityDropDown" class="form-control text-center">
                                    <option selected>-Select City-</option>
                                </select>
                                <span asp-validation-for="EndingPointId" class="text-danger"></span>
                            </div>
                            <div class="col p-3">
                                <input asp-for="DepartureTime" class="form-control m-0" />
                                <span asp-validation-for="DepartureTime" class="text-danger"></span>
                            </div>
                            <div class="col p-3">
                                <input asp-for="FreeSeats" class="form-control m-0" />
                                <span asp-validation-for="FreeSeats" class="text-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="col d-flex justify-content-center">
                        <div>
                            <label asp-for="StartingPointId" style="padding-bottom:1em">Add Optional Preferences</label>
                            <div class="form-group row d-flex justify-content-center" style="width:300px">
                                <select style="border-radius:3px" multiple="multiple" class="multi-select text-center" asp-for="Preferences" asp-items="ViewBag.Preferences"></select>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-6 text-center">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
                        </div>
                        <div class="col-4 text-center">
                            <input type="submit" value="Create" class="btn btn-success" asp-controller="Travels" asp-action="CreateNewTravelPost" asp-route-userId="@this.ViewData["CurrentUserId"]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

