﻿@{
    ViewData["Title"] = "Travels";
    this.ViewData["CurrentUserId"] = this.Context.Session.GetString("CurrentUserId");
    this.ViewData["CurrentUserBlockedState"] = this.Context.Session.GetString("CurrentUserBlockedState");
}

@model CarPooling.Web.Models.PaginatedList<CarPooling.Services.DTOs.PresentDTOs.TravelPresentDTO>
    <!-- CAROUSEL -->
<partial name="../Shared/_Carousel.cshtml" />

<div class="container">
    <h1 class="text-primary pb-3 text-center mt-3">
        Available Travels
    </h1>
    @if (this.ViewData["CurrentUserBlockedState"].Equals("False"))
    {
        <div class="d-flex justify-content-center">
            <a asp-controller="Travels" asp-action="CreateNewTravel" asp-route-id="" class="btn btn-success d-flex justify-content-center mb-3 px-5">Create New Travel</a>

        </div>
    }
    <div class="main pt-3">
        @if (!Model.Any())
        {
            <h4 class="text-center">No travels meet your criteria.</h4>
            <br />
            <div class="row">
                <div class="col text-center">
                    <a asp-controller="Travels" asp-action="Index"
                       class="btn btn-secondary" asp-route-id="@this.ViewData["CurrentUserId"]">Clear filters</a>
                </div>
            </div>
        }
        else
        {
            <form asp-action="Index">
                <div class="row" style="margin:auto; padding:5px">
                    <div class="col text-end">
                        <input style="width: 65%; color:black" value="Filter by:" disabled />
                    </div>
                    <div class="col text-center">
                        <input style="width: 40%" type="text" name="startingCity" value="@ViewBag.StartingCity" placeholder="Start" />
                    </div>
                    <div class="col text-center">
                        <input style="width: 40%" type="text" name="endingCity" value="@ViewBag.EndingCity" placeholder="End" />
                    </div>
                    <div class="col text-center">
                        <input placeholder="Date" class="textbox-n" style="width: 75%" type="text" name="departureTime" value="@ViewBag.DepartureTime" onfocus="(this.type='date')">
                    </div>
                    <div class="col text-center">
                        <input style="width: 40%" type="text" name="seats" value="@ViewBag.Seats" placeholder="Seats" />
                    </div>
                    <div class="col text-center">
                        <input style="width: 80%" type="text" name="user" value="@ViewBag.User"  placeholder="Created By" />
                    </div>
                    <div class="col text-center">
                        <select class="text-center" style="border:none; width:auto; height:55px; background-color:#ECF0F1; margin:auto" name="preferences" asp-items="@ViewBag.Preferences">
                            @if (ViewBag.Preference == null || ViewBag.Preference == "")
                            {
                                <option disabled selected>-Select Preference-</option>
                            }
                            else
                            {   
                                <option>-Select Preference-</option>
                                <option selected>@ViewBag.Preference</option>
                            }
                        </select>
                    </div>
                    <div class="col text-start">
                        <input style="width: 60%" type="submit" name="search" value="Search" />
                    </div>
                    <div class="col" style="width: 10%" hidden>
                        <input type="text" name="userId" value="@ViewData["UserFeedbackNavigationId"]" />
                    </div>
                </div>
            </form>
            <table class="table table-style text-center">
                <thead>
                    <tr>
                        <th scope="col">
                            @Html.ActionLink("Starting Point", "Index", new
                       {
                           id = ViewBag.TravelId,
                           sortOrder = ViewBag.StartSort,
                           startingCity = ViewBag.StartingCity,
                           endingCity = ViewBag.EndingCity,
                           user = ViewBag.User,
                           departureTime = ViewBag.DepartureTime,
                           seats = ViewBag.Seats,
                           preferences = ViewBag.Preference,
                           pageNumber = Model.PageIndex
                       }, new { style = "color:black" })
                        </th>
                        <th scope="col">
                            @Html.ActionLink("Ending Point", "Index", new
                       {
                           id = ViewBag.TravelId,
                           sortOrder = ViewBag.EndSort,
                           startingCity = ViewBag.StartingCity,
                           endingCity = ViewBag.EndingCity,
                           user = ViewBag.User,
                           departureTime = ViewBag.DepartureTime,
                           seats = ViewBag.Seats,
                           preferences = ViewBag.Preference,
                           pageNumber = Model.PageIndex
                       }, new { style = "color:black" })
                        </th>
                        <th scope="col">
                            @Html.ActionLink("Departure Time", "Index", new
                       {
                           id = ViewBag.TravelId,
                           sortOrder = ViewBag.DepartureSort,
                           startingCity = ViewBag.StartingCity,
                           endingCity = ViewBag.EndingCity,
                           user = ViewBag.User,
                           departureTime = ViewBag.DepartureTime,
                           seats = ViewBag.Seats,
                           preferences = ViewBag.Preference,
                           pageNumber = Model.PageIndex
                       }, new { style = "color:black" })
                        </th>
                        <th scope="col">
                            @Html.ActionLink("Free Seats", "Index", new
                       {
                           id = ViewBag.TravelId,
                           sortOrder = ViewBag.SeatSort,
                           startingCity = ViewBag.StartingCity,
                           endingCity = ViewBag.EndingCity,
                           user = ViewBag.User,
                           departureTime = ViewBag.DepartureTime,
                           seats = ViewBag.Seats,
                           preferences = ViewBag.Preference,
                           pageNumber = Model.PageIndex
                       }, new { style = "color:black" })
                        </th>
                        <th scope="col">
                            @Html.ActionLink("Created By", "Index", new
                       {
                           id = ViewBag.TravelId,
                           sortOrder = ViewBag.NameSort,
                           startingCity = ViewBag.StartingCity,
                           endingCity = ViewBag.EndingCity,
                           user = ViewBag.User,
                           departureTime = ViewBag.DepartureTime,
                           seats = ViewBag.Seats,
                           preferences = ViewBag.Preference,
                           pageNumber = Model.PageIndex
                       }, new { style = "color:black" })
                        </th>
                        @if (this.ViewData["CurrentUserBlockedState"].Equals("False"))
                        {
                            <th>Apply</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var travel in Model)
                    {
                        <tr>
                            <td>@travel.StartingPoint</td>
                            <td>@travel.EndingPoint</td>
                            <td>@travel.DepartureTime</td>
                            <td>@travel.FreeSeats</td>
                            <td><a asp-controller="User" asp-action="ViewUserProfile" asp-route-userId="@travel.CreatedByUserId">@travel.CreatedByUser</a></td>
                            @if (this.ViewData["CurrentUserBlockedState"].Equals("False"))
                            {
                                <td width="8%">
                                    <a asp-controller="Travels" asp-action="Apply" asp-route-id="@travel.Id" class="btn btn-success d-flex justify-content-center">Apply</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        @{
            var prevDisable = !Model.PreviousPage ? "disabled" : "";
            var nextDisable = !Model.NextPage ? "disabled" : "";
        }
        @if (Model.Any())
        {
            <div class="row">
                <div class="col text-center">
                    <a asp-action="Index" asp-route-id="@ViewBag.TravelId" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewBag.SortOrder"
                       asp-route-startingCity="@ViewBag.StartingCity" asp-route-endingCity="@ViewBag.EndingCity" asp-route-user="@ViewBag.User" 
                           asp-route-departureTime="@ViewBag.DepartureTime" asp-route-seats="@ViewBag.Seats" asp-route-preferences="@ViewBag.Preference"
                       class="btn btn-primary  @prevDisable">Previous</a>
                </div>
                <div class="col text-center">
                    <a asp-controller="Home" asp-action="Index"
                       class="btn btn-secondary">Back To Home</a>
                </div>
                <div class="col text-center">
                    <a asp-action="Index" asp-route-id="@ViewBag.TravelId" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewBag.SortOrder"
                       asp-route-startingCity="@ViewBag.StartingCity" asp-route-endingCity="@ViewBag.EndingCity" asp-route-user="@ViewBag.User" 
                           asp-route-departureTime="@ViewBag.DepartureTime" asp-route-seats="@ViewBag.Seats" asp-route-preferences="@ViewBag.Preference"
                       class="btn btn-primary  @nextDisable">Next</a>
                </div>
            </div>
        }
    </div>
</div>