﻿.error-view {
    margin-top: 30px;
}

#error-view-img {
    background: url("../images/error-page.jpg");
    background-attachment: inherit;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    position: relative;
}

table {
    max-width: 1300px;
    margin: 0 auto;
    outline-style: groove;
    outline-color: #14bc9b;
    border-radius: 5px
}

    /****** table style ******/
    table tbody > tr > td:last-child {
        text-align: center;
    }

.table.table-style {
    border-collapse: separate;
    border-spacing: 0 15px;
}

    .table.table-style tr td:last-child {
        border-left: 5px solid #f4f9fb;
    }

    .table.table-style > thead > tr > td,
    .table.table-style > tbody > tr > td,
    .table.table-style > tfoot > tr > td {
        border-top: 0px;
        line-height: 36px;
    }

    .table.table-style tbody > tr {
        box-shadow: 2px 0px 8px 0 rgba(215, 234, 243, 0.6);
        background: #fff;
    }
