﻿* {
    box-sizing: border-box;
}

    *:focus {
        outline: none;
    }

.login {
    margin: 150px auto;
    width: 500px;
}

.login-screen {
    background-color: #FFF;
    outline-style: groove;
    outline-color: #14bc9b;
    padding: 50px;
    border-radius: 5px;
    background: #d7d7d7;
}

.app-title {
    text-align: center;
    color: #777;
    margin-bottom:50px;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 200;
    padding: 10px 0;
    margin: 10px;
    width: 350px;
    transition: border .5s;
}

    input:focus {
        border: 2px solid #14bc9b;
        box-shadow: none;
    }

.btn-login {
    border: 2px solid transparent;
    background: #2c3e50;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 50px auto;
}

.btn-login:hover {
    background-color: #14bc9b;
}

.login-link {
    font-size: 18px;
    color: #444;
    display: block;
    margin-top: 12px;
}
