﻿/*####viewport###*/
.viewport-80 {
    min-height: 80vh;
}

/*###banner###*/

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/home-banner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    #banner::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #14bc9b;
        z-index: -1;
        bottom: -10px;
        transform-origin: left bottom;
        transform: skewY(1deg);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #banner .banner-title {
        font-style: italic;
        text-shadow: 0 0 2px black;
    }

    #banner .banner-link {
        text-decoration: none;
        font-size: 20px;
        padding: 15px 25px;
        border: 2px solid #14bc9b;
        background-color: transparent;
        border-radius: 10px;
        color: #14bc9b;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset;
        text-shadow: 0 0 1px black;
    }

        #banner .banner-link:hover {
            border: 2px solid #14bc9b;
            background-color: #7f8c8d;
            color: #ffffff
        }

/*###numbers###*/

#numbers .num {
    padding: 30px 0;
    background: #2c3e50;
    color: #f5f3f5;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    #numbers .num:hover {
        background: #7b8889;
    }


#numbers .num-item {
    font-size: 30px;
}

#numbers .fa {
    font-size: 70px;
}

/*###carousel-about###*/

.carousel-item {
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-heading {
    text-shadow: 0 0 2px black;
}

.carousel-image-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/carousel-1.jpg");
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-image-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/carousel-2.jpg");
    background-size: cover;
}

.carousel-image-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/carousel-3.jpg");
    background-size: cover;
}

.about-title {
    font-style: italic;
    text-shadow: 0 0 2px black;
}

.accordion-margin {
    margin: 200px;
}

.update-user {
    margin-top: 100px;
}

.form-border {
    border-radius: 10px;
    border-color: #14bc9b;
    border-style: groove;
}

.form-border-big {
    margin-top: 100px;
    border-radius: 10px;
    border-color: #14bc9b;
    border-style: groove;
}
